.container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
}

.header {
    text-align: center;
    background-color: aqua;
    grid-area: header;
}

.main {
    background-color: brown;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.div {
    width: clamp(1px, 150px, 151px);
    height: clamp(1px, 150px, 151px);
    background-color: white;
    margin: 5px auto;
    display: grid;
    place-items: center;
}

.aside {
    background-color: blueviolet;
    text-align: center;
    grid-area: aside;
    display: grid;
    place-items: center;
}

.footer {
    background-color: aqua;
    text-align: center;
    grid-area: footer;
}

@media (max-width: 700px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }
}

@media (max-width: 400px) {
    .container {
        max-width: 400px;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }

    .main {
        background-color: brown;
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
    }

    .div {
        width: clamp(1px, 200px, 201px);
    height: clamp(1px, 200px, 201px);
    }
}